* {
    background-color: bisque;
}

.Heading {
    text-align: center;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(24, 120, 2 );
}

.recipe-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}




.recipe-list-text{
    padding: 50px;
    border: 10px solid rgba(218, 20, 20, 0.595);
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}
